.binaries {
    .feed,
    .feedHeader {
        display: grid;
        grid-template-columns: 25% 50% 10% 15%;
        grid-gap: 2px;
    }

    .feed {
        a {
            color: #fff;
        }
    }
}