.feeds {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;

    .feed,
    .feedHeader {
        display: grid;
        grid-template-columns: 20% 22% 10% 15% calc(38% - 6px);
        grid-gap: 2px;
    }
}